.markdown-content {
    max-width: 70ch;

    h1, h2, h3, h4 {
        font-family: var(--font-display);
    }

    a {
        @apply hover:underline;
    }

    pre {
        @apply overflow-x-auto text-nowrap;
        background-color: #0d1117 !important;
    }
}
