.typ-title {
    font-family: var(--font-display);
    line-height: 1.2em !important;
    @apply md:text-4xl text-3xl font-bold text-highlighted;
}
.typ-subtitle {
    font-family: var(--font-display);
    line-height: 1.25em !important;
    @apply text-2xl font-bold text-highlighted;
}
.typ-label {
    @apply text-sm text-toned;
}
.typ-sublabel {
    @apply text-xs text-muted;
}
